// COLORS
$white: #FFF;
$black: #000;

$status-ok: #CDDC39;
$status-avg: #FF9F00;
$status-bad: #B90504;

// GLOBAL
$global-primary-background: #8BC34A;
$secondary-background: #CDDC39;

// LOGO
$logo-color: $black;
$logo-hover-color: #4c4c4c;

// NAVBAR
$navbar-nav-item-color: $white;
$navbar-nav-item-hover-color: $black;
